
/*  MOBILE (tablet, portrait)  */

@media only screen and (max-width: 640px) {

  // collapse sqs layouts
  @import 'sqs-grid-breaker';

  @tabletPadding:20px;

  #canvasWrapper {
    padding: 0 @tabletPadding;
  }
  #contentWrapper {
    padding: 70px 0 0;
    } //sets extra-wide width for promoted images

  .nav-position-fixed #navWrapper, .nav-position-fixed #navWrapperGhost {
    margin: 0 @tabletPadding;
  }
  #navWrapper, #navWrapperGhost {
    margin: 0;
  }

  #topNav, #topNavGhost {
    padding-bottom: 10px;
    .main-nav {
      margin-top: 15px;
    }
  }

  .nav-position-fixed {
    #topNav, #topNavGhost {
      padding-bottom: 10px;
      .main-nav {
        margin-top: 15px;
      }
    }
  }

  /* Blog */
  .collection-type-blog {
    article {
      .entry-content {
        margin: 0 10%;
      }
    }
  }

  .collection-type-blog .comments-wrapper {
    margin: 120px 10% 0;
  }

  .collection-type-blog article footer {
    margin: 0 10%;
  }

  /* Pagination */
  nav.pagination {
    margin: 30px 10%;
  }

  /* Comments */
  // .collection-type-blog .comments-wrapper { padding: 30px 10%; }

  .special-content .image-block {
    .image-caption {
      width: 70%;
    }
  }

}



/*  MOBILE (phone)  */

@media only screen and (max-width:800px) {
  @mobilePadding: 20px;
  
  .absolute-cart-box {
    position: fixed;
    bottom: 0;
    left: 0;
    top: auto;
    width: 100%;
  }

  .sqs-pill-shopping-cart-content {
    border-radius: 0px;
  }

  .logo.site-title {
    font-size: 0.75*@site-title-font-font-size;
    letter-spacing: 0;}

  #canvasWrapper {
    padding: 0 @mobilePadding;
  }
  #contentWrapper {
    padding: 10px 0 0;
  }

  /* Blog */
  .collection-type-blog {
    article {
      .entry-content {
        margin: 0;
      }
    }
  }

  .special-content .image-block {
    .image-caption {
      font-size: 0.9*@body-font-font-size;
      padding: 15px;
      margin-top: -15px;
    }
  }

  /* Pagination */
  nav.pagination {
    margin: 30px 35px;
  }

  /* Comments */
  .collection-type-blog .comments-wrapper {
    margin: 120px 0 0;
  }

  .collection-type-blog article footer {
    margin: 0;
  }

  .nav-position-fixed {
    #topNav {
      position: relative;
      overflow: hidden;
    }
  }

  #topNav {
    position: relative;
    overflow: hidden;
    .main-nav {
      width: 100%;
      margin: 15px auto 0;
      ul {
        font-size: 14px;
        li {
          display: block;
          margin: 0 0 20px 0;
          font-size: 14px;
          &:after { content:''; padding-left: 0;
        }
          &.folder {
            .subnav {
              top: 0;
              left: 0;
              position: relative;
              height: auto !important;
              background-color: transparent;
              margin-left: 0;
              max-width: 100%;
            }
            ul {
              padding: 0;
              border-bottom-width: 0 !important;
              margin: 5px 0 8px;
              li {
                margin: 10px 0 0;
                display: block;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
    .sqs-search-ui-button {
      position:absolute;
      left:0;
      float:none;
      padding-top: 20px;
      padding-left: 0;
      z-index:100;

      .title {
        opacity:1;
        padding-left:0px;
        .nav-font;
        color:@linkColor;
        font-size:14px;
        cursor:pointer;

        &:hover {
          color:@navColor;
        }
      }
    }
    #nav {
      position: relative;
       height:0;
       left: -670px;
        -webkit-transition: all .5s linear;
        -o-transition: all .5s linear;
        -moz-transition: all .5s linear;
        transition: all .5s linear;
        background-color: @siteBackground;
        overflow:hidden;
    }
    #mobile-show-nav {
      display: block;
      padding-top: 20px;
      width: 20%;
      float: right;
    }
    #nav:target {
      position: relative;
      left:0; height:auto;
    }
    #nav:target + #mobile-show-nav {
      display: none;
    }
    #nav:target #mobile-close-nav {
      display: block;
      padding-top: 20px;
    }

    #sqs-header-social {
      display: none;
    }
    #sqs-header-social:target {
      display: none;
    }
    #sqs-header-social:target + #mobile-show-social {
      display: none;
    }
  }

  .nav-position-fixed #topNavGhost, #topNavGhost {
    display: none;
  }

  .nav-position-fixed #navWrapper, #navWrapper {
    margin: 0;
    position: relative;
  }

  #pageFooter {
    margin: 60px 0 0;
  }

  .show-social-icons #topNav {
    #mobile-show-social {
      display: block;
    }
    #sqs-header-social {
      position: relative;
      height: 0;
      left: -670px;
      overflow: hidden;
      display: block;
    }
    #sqs-header-social:target {
      position: relative;
      left: 0;
      height: auto;
      width: auto;
      z-index: 100;
      margin: 0;
      padding: 20px 0 0;
      a {
        display:inline-block;
        width: 0px;
        height: 20px;
        margin: 0 24px 0 0;
        color: @socialIconColor;
        &:before {
          font-size: 20px;
        }
        &:hover {
          color: @linkHoverColor;
        }
      }
    }
    .sqs-search-ui-button {
      left:25px;
    }

    #sqs-header-social:target ~ .sqs-search-ui-button {
      position:relative;
      left:0;
      float:left;
      padding-left:10px;
    }
  }


}

